@import url(reset.css);
@import url(fonts.css);

body {
	font-family: "Inter", sans-serif;
}
[class*="__container"] {
	max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
}
[class*="__title"] {
	font-weight: 700;
}
.wrapper {
}
.header {
	font-family: "Poppins", sans-serif;
	padding: 330px 0 100px 0;
	font-weight: 300;
	background: url(../img/01.jpg) 50% / cover no-repeat;
	font-size: 12px;
	line-height: 1.66; /* 20/12 */
	color: #E5E5E5;
}	
.header__container {
}
.header__container > *:not(:last-child){
	margin: 0 0 15px 0;
}
.header__date {
}
.header__title {
	font-weight: 700;
	color: #F8F9FA;
	font-size: 25px;
	line-height: 1.6; /* 40/25 */
}
.header__subtitle {
}
.page {
}
.list-styles {
	padding: 100px 0 100px 0;
	line-height: 1; /* 16/16 */
	color: #637381;
	font-size: 16px;
	font-weight: 700;
}
.list-styles__title {
	font-weight: 400;
	margin: 0 0 45px 0;
	color: #212B36;
	font-size: 25px;
}
.list-styles__container {
	max-width: 1200px;
}
.list-styles__item {
}
.list-styles__item:not(:last-child) {
	margin: 0 0 60px 0;
}
.list-styles__item:first-child {
	line-height: 0.93; /* 15/16 */
}
.list_1 .list__element {
background: url(../img/icons/00.svg) 10px 7px / 8px no-repeat;
}
.list_2 .list__element {
background: url(../img/icons/01.svg) 0 1px no-repeat;
}
.list_3 .list__element {
background: url(../img/icons/02.svg) 0 0 no-repeat;
}
.list_4 .list__element {
background: url(../img/icons/03.svg) 0 7px no-repeat;
}
.list_5 .list__element {
	background: url(../img/icons/04.svg) 0 0 no-repeat;
	}
.list_6 .list__element {
	background: url(../img/icons/05.svg) 0 0 no-repeat;
	}
.list__element {
	margin: 0 0 17px 0;
	padding: 3px 0 0 25px;
	min-height: 21px;
}
.slider {
	padding: 145px 0 145px 0;
	font-size: 16px;
	background: url(../img/02.png) 70% no-repeat, linear-gradient(126deg, rgba(112,149,253,0.09169788520877098) 0%, rgba(98,133,239,0.10010124655330888) 60%, rgba(110,146,254,0.24295838941045167) 60%, rgba(98,128,220,0.04407883758972342) 66%, rgba(92,119,203,0.1813337395505077) 66%, rgba(29,29,29,0.04968107848608194) 100%), #F4F7FF;
}
.slider__container {
	max-width: 1200px;
}
.slider__price {
	margin: 0 0 13px 0;
	color: #3056D3;
	font-weight: 600;
}
.slider__title {
	margin: 0 0 15px 0;
	font-size: 36px;
	line-height: 1.25; /* 45/36 */
	color: #212B36;
}
.slider__subtitle {
	margin: 0 0 35px 0;
	color: #637381;
	font-weight: 500;
}
.slider__body {
	max-width: 570px;
}
.slider__btn {
	padding: 10px 30px;
	background-color: #3056D3;
	border-radius: 30px;
	color: #FFFFFF;
	font-weight: 600;
}
.slider__btn span {
	color: #FFFFFF;
}
.footer {
}
.test {
	padding: 100px 0 100px 0;
	background: linear-gradient(126deg, rgba(92,202,203,0.2625662325477066) 15%, rgba(109,92,203,0.5734906022956057) 33%, rgba(160,92,203,0.71074550425639) 59%, rgba(92,119,203,0.71074550425639) 80%, rgba(255,37,37,0.2037427031359419) 100%);
}
.test__container {
}
.test__item_1 {
	min-height: 100px;
	background: url(../img/03.png) 50% / contain no-repeat, linear-gradient(126deg, rgba(92,119,203,0.71074550425639) 0%, rgba(157,86,137,0.6295130112591911) 40%, rgba(188,182,70,0.59589956588104) 59%, rgba(255,37,37,0.2037427031359419) 100%);
}
.test__item_2 {
	min-height: 600px;
	background: url(../img/04.png) 50% / 100px repeat fixed;
}